In [2]:
# check version
from pycaret.utils import version
version()

'3.0.0.rc4'

In [ ]:
import pandas as pd

In [218]:
df = pd.read_csv('advertising.csv')

In [219]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [220]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [221]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [222]:
from pycaret.regression import *
s = setup(df, target = 'Sales',session_id = 123)

In [223]:
s.dataset_transformed

             TV      Radio  Newspaper      Sales
0     90.400002   0.300000  23.200001  12.000000
1    175.699997  15.400000   2.400000  17.100000
2    140.300003   1.900000   9.000000  10.300000
3      8.600000   2.100000   1.000000   4.800000
4    121.000000   8.400000  48.700001  11.600000
..          ...        ...        ...        ...
195   66.099998   5.800000  24.200001  12.600000
196  276.899994  48.900002  41.799999  27.000000
197  120.500000  28.500000  14.200000  14.200000
198  239.300003  15.500000  27.299999  20.700001
199  239.800003   4.100000  36.900002  17.299999

[200 rows x 4 columns]

In [224]:
best = compare_models()

Processing:   0%|          | 0/81 [00:00<?, ?it/s]

In [225]:
import numpy as np
import pandas as pd

# Set seed for reproducibility
np.random.seed(42)

# Generate data
n_rows = 500

# TV, Radio, Online ads (in thousands of dollars)
TV = np.random.normal(200, 50, n_rows)  # mean=200k, std=50k
Radio = np.random.normal(50, 10, n_rows)  # mean=50k, std=10k
Online = np.random.normal(75, 20, n_rows)  # mean=75k, std=20k

# Price of the product
Price = np.random.normal(10, 2, n_rows)  # mean=$10, std=$2

# Promotion indicator (binary: 0 or 1)
Promotion = np.random.randint(0, 2, n_rows)

# Competitor Price
Competitor_Price = np.random.normal(9, 1.5, n_rows)  # mean=$9, std=$1.5

# Sales (dependent variable, influenced by all the above)
Sales = (
    5 * TV +
    3 * Radio +
    4 * Online -
    10 * Price +
    15 * Promotion -
    5 * Competitor_Price +
    np.random.normal(0, 20, n_rows)  # noise
)

# Create a DataFrame
data = pd.DataFrame({
    'TV': TV,
    'Radio': Radio,
    'Online': Online,
    'Price': Price,
    'Promotion': Promotion,
    'Competitor_Price': Competitor_Price,
    'Sales': Sales
})

data.head()

,TV,Radio,Online,Price,Promotion,Competitor_Price,Sales
0,224.835708,59.261775,102.987109,11.556722,1,9.638831,1586.786259
1,193.086785,69.094166,93.492674,8.897629,0,9.028722,1386.322841
2,232.384427,36.014324,76.192607,8.363602,1,8.037770,1478.352066
3,276.151493,55.629692,62.061264,9.993251,0,9.731808,1673.878712
4,188.292331,43.493574,88.964466,9.659631,0,11.706522,1280.407496

In [226]:
s1 = setup(data, target = 'Sales',session_id = 123)

In [227]:
s1.dataset_transformed

,TV,Radio,Online,Price,Promotion,Competitor_Price,Sales
0,166.153900,61.677822,84.880600,8.244035,0.0,8.716319,1237.029907
1,186.767151,59.356785,55.228176,11.996622,1.0,10.676098,1173.850952
2,158.725143,65.505005,62.731945,7.712548,1.0,9.833269,1138.846802
3,228.039230,60.490093,66.411888,10.978374,0.0,7.494064,1474.553833
4,293.288727,50.139294,61.236992,10.336922,0.0,10.025354,1686.216187
...,...,...,...,...,...,...,...
495,248.432251,45.223427,74.255554,4.157299,1.0,8.622692,1579.244995
496,243.616028,44.823887,61.618546,8.875664,1.0,8.550485,1486.563477
497,255.978745,57.604145,66.250832,10.814105,1.0,6.056061,1579.239502
498,230.708328,43.236076,108.398087,9.605323,0.0,9.895843,1562.128052
499,256.778290,49.032867,61.141895,9.759237,0.0,10.244598,1504.140869

In [228]:
best1 = compare_models()

Processing:   0%|          | 0/81 [00:00<?, ?it/s]

In [231]:
best_model = best1

In [234]:
best_model.coef_

array([ 4.9518666,  3.0917234,  4.0926685, -9.565746 , 12.349062 ,
       -5.0912547], dtype=float32)

In [235]:
best_model.feature_names_in_

array(['TV', 'Radio', 'Online', 'Price', 'Promotion', 'Competitor_Price'],
      dtype=object)